<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="container" style="padding-top: 1em;" th:fragment="searchButtons">
            <div class="row">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="add-cntnt-btn" name="add-cntnt-btn">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Person
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>