<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org">-->
    <!--<body>-->
        <!--<div class="row" th:fragment="searchPagination">-->
            <!--<div class="col-md-12 text-center">-->
                <!--<div class='pagination pagination-centered'>-->
                    <!--<ul class="pagination">-->
                        <!--<li th:class="${currentIndex == 1}? 'disabled' : ''">-->
                            <!--<span th:if='${currentIndex == 1}'>← First</span>-->
                            <!--<a th:if='${currentIndex != 1}'-->
                               <!--th:href="@{${url+'/page/1'}}">← First</a>-->
                        <!--</li>-->
                        <!--<li th:class="${currentIndex != 1}? '' : 'disabled'">-->
                            <!--<span th:if='${currentIndex == 1}'>«</span>-->
                            <!--<a th:if='${currentIndex != 1}'-->
                               <!--th:href="@{${url+'/page/'+ (currentIndex - 1)}}"-->
                               <!--title='Go to previous page'>«</a>-->
                        <!--</li>-->

                        <!--<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"-->
                            <!--th:class="${item == currentIndex ? 'active' : '' }">-->

                            <!--<span th:if='${item == currentIndex}' th:text='${item}'>1</span>-->

                            <!--<a th:if='${item != currentIndex}'-->
                               <!--th:href="@{${url+'/page/'+item }}">-->
                                <!--<span th:text='${item}'>1</span>-->
                            <!--</a>-->
                        <!--</li>-->

                        <!--<li th:class="${currentIndex != currentResults.totalPages}? '' : 'disabled'">-->
                            <!--<span th:if='${currentIndex == currentResults.totalPages}'>»</span>-->
                            <!--<a th:if='${currentIndex != currentResults.totalPages}'-->
                               <!--th:href="@{${url+'/page/'+(currentIndex + 1)}}" title='Go to next page'>»</a>-->
                        <!--</li>-->
                        <!--<li th:class="${currentIndex == currentResults.totalPages}? 'disabled' : ''">-->
                            <!--<span th:if='${currentIndex == currentResults.totalPages}'>Last →</span>-->
                            <!--<a th:if='${currentIndex != currentResults.totalPages}'-->
                               <!--th:href="@{${url+'/page/'+ currrentResults.totalPages}}">Last →</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</body>-->
<!--</html>-->